:root {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 10;

  color-scheme: light dark;
  color: rgba(1, 1, 1, 0.87);
  background-color: #f3eeee;

  justify-content: center;
}
