.catalog-content {
  display: grid;
  grid-template-areas: "title" "photo" "description";
  align-items: top;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 20px;
  gap: 20px;
}
.catalog-photo {
  width: 70vw;
  height: auto;
  grid-area: photo;
  justify-self: center;
}

.catalog-text {
  gap: 20px;
  line-height: 1.2;
  grid-area: text;
}

.catalog-title {
  font-size: 10vw;
  white-space: nowrap;
  grid-area: title;
  justify-self: center;
}

.catalog-description {
  grid-area: description;
}

.pdf-link {
  display: flex;
  font-size: 1rem;
}
.chit-chat {
  display: flex;
  font-size: 1rem;
}

.button-link::before {
  content: "|";
}
.button-link::after {
  content: "|";
}

.catalog-links {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 600px) {
  .catalog-content {
    display: grid;
    grid-template-areas: "photo text";
    align-items: top;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 20px;
    gap: 20px;
  }
  .catalog-text {
    /* align-items: start; */
    /* justify-content: start; */
    gap: 20px;
    line-height: 1.2;
    /* justify-content: first baseline; */
    grid-area: text;
  }

  .catalog-title {
    padding-top: 5rem;
    font-size: 5rem;
    white-space: nowrap;
    grid-area: text;
    justify-self: left;
  }
  .catalog-photo {
    width: 32rem;
    height: auto;
    grid-area: photo;
  }
  .catalog-description {
    grid-area: text;
    align-self: center;
  }
  .catalog-links {
    margin-top: 1rem;
    display: block;
  }
  .pdf-link {
    display: flex;
    font-size: 1.5rem;
  }
  .chit-chat {
    display: flex;
    font-size: 1.5rem;
  }

  .button-link {
    display: inline-block;
    position: relative;
  }

  .button-link:not(:last-of-type) {
    margin-right: 45px;
  }

  .button-link::before,
  .button-link::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    width: 3px;
    top: 50%;
    bottom: 50%;
    transition: all 300ms ease;
  }

  .button-link::before {
    left: -10px;
  }

  .button-link::after {
    right: -10px;
  }

  .button-link:hover::before {
    top: 0;
    bottom: 0;
  }

  .button-link:hover::after {
    top: 0;
    bottom: 0;
  }
}
