.catalog-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: top;
  justify-content: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 20px;
}
.catalog-photo {
  width: 32rem;
  height: auto;
}

.catalog-text {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  /* justify-content: start; */
  gap: 20px;
  line-height: 1.2;
  /* justify-content: first baseline; */
}

.catalog-title {
  font-size: 5rem;
  white-space: nowrap;
}

.pdf-link {
  display: flex;
  font-size: 1.5rem;
}
