.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-link:before {
  content: "|";
}

.nav-link:after {
  content: "|";
}

@media screen and (min-width: 600px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
  }
  .nav-link {
    position: relative;
    display: inline-block;
    /* margin-right: 45px; */
    flex-shrink: 3;
  }

  .nav-link::before,
  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    width: 3px;
    top: 50%;
    bottom: 50%;
    transition: all 300ms ease;
  }

  .nav-link:last-of-type {
    margin-right: 0;
  }
  .nav-link::before {
    left: -10px;
  }

  .nav-link::after {
    right: -8px;
  }

  .nav-link:hover::before {
    top: 0;
    bottom: 0;
  }

  .nav-link:hover::after {
    top: 0;
    bottom: 0;
  }
}
