.button-wrap {
  display: flex;
}

.button-wrap:not(:last-of-type) {
  margin: 15px 0 15px 0;
}

@media screen and (min-width: 600px) {
  .button-wrap {
    display: none;
  }

  .button-wrap:not(:last-of-type) {
    margin: 0 30px 0 0;
  }
}
