.gallery-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2% 10% 0% 10%;
}

.gallery-header {
  display: flex;
  align-content: center;
  justify-content: center;

  gap: 0.5em;
}
.gallery-name {
  font-size: 3rem;
  white-space: nowrap;
}
.gallery-description {
  padding-top: 1em;
}

.scrolled-photo {
  width: 15rem;
  height: auto;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  max-width: 95%;
}

.media-element {
  padding: 1em;
}

.media-element > img {
  inline-size: 100%;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1em;
}

.snaps-inline > * {
  scroll-snap-align: start;
}
