.gallery-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2% 2% 0% 2%;
}

.gallery-header {
  display: flex;
  align-content: center;
  justify-content: center;

  gap: 0.5em;
}
.gallery-name {
  font-size: 5.5rem;
  white-space: nowrap;
}
.gallery-description {
  padding-top: 1em;
}

.media-element {
  padding: 1em;
}

.media-element > img {
  inline-size: 100%;
  object-fit: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1em;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  justify-self: center;
}

.grid-item > img {
  display: block;
  max-width: 400px;
  object-fit: cover;
}

.grid-item > .image-title {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item > img,
.grid-item > .image-title {
  transition: 200ms ease-in-out;
}

.grid-item:hover > img.effects {
  filter: blur(3px);
  transform: scale(1.1);
}

.grid-item > .image-title.fade {
  opacity: 0;
}

.grid-item:hover > .image-title.fade {
  opacity: 1;
}

@media screen and (min-width: 798px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1199px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}
