.slider-img {
  width: 80vw;
}
dialog {
  border: none;
  overflow: hidden;
}
dialog::backdrop {
  background: linear-gradient(45deg, green, purple);
  opacity: 0.4;
  overflow: hidden;
}

.next-btn {
  position: absolute;
  top: 45%;
  width: 30px;
  right: 1%;
  background: none;
  cursor: pointer;
}
.back-btn {
  position: absolute;
  top: 45%;
  width: 30px;
  left: 1%;
  font-size: small;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  width: 30px;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.modal-description {
  padding-top: 10px;
  width: 80vw;
}
@media screen and (min-width: 750px) {
  .slider-img {
    width: 80vw;
  }
  .modal-description {
    width: auto;
    padding: 5px;
  }
  .next-btn {
    position: absolute;
    top: 50%;
    width: auto;
    right: 0%;
    background: none;
    cursor: pointer;
  }
  .back-btn {
    position: absolute;
    top: 50%;
    width: auto;
    left: 0%;
    font-size: small;
    cursor: pointer;
  }
}
@media screen and (min-width: 756px) {
  .slider-img {
    width: 700px;
  }
  .modal-description {
    width: auto;
    padding: 5px;
  }
  .next-btn {
    position: absolute;
    top: 50%;
    right: 0%;
    background: none;
    cursor: pointer;
  }
  .back-btn {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: small;
    cursor: pointer;
  }
}
