.slider-img {
  width: 80vw;
}
dialog {
  border: none;
  overflow: hidden;
}
dialog::backdrop {
  background: linear-gradient(45deg, green, purple);
  opacity: 0.4;
  overflow: hidden;
}

.next-btn {
  position: absolute;
  top: 50%;
  right: 0%;
  background: none;
  cursor: pointer;
}
.back-btn {
  position: absolute;
  top: 50%;
  left: 0%;
  font-size: small;
  cursor: pointer;
}
.close-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.modal-description {
  padding-top: 10px;
  width: 80vw;
}
@media screen and (min-width: 600px) {
  .slider-img {
    width: 700px;
  }
  .modal-description {
    width: auto;
    padding: 5px;
  }
}
