.footer {
  position: relative;
  bottom: 0;
  margin-top: 35px;
  /* display: block; */
  text-align: center;
  font-size: small;
  padding-bottom: 2rem;
}
.footer-container {
  position: relative;
  margin-top: 5rem;
  display: block;
  bottom: 0;
  left: 43%;
  width: fit-content;
  text-align: center;
  align-self: center;
}

@media screen and (min-width: 600px) {
  .footer-container {
    left: 47%;
  }
}
